.containerjoin {
    display: flex;
    justify-content: center;
    text-align: center;
    height: fit-content;
    margin-top: 10vh;
}

.form {
    display: flex;
    justify-content: center;
    height: 60vh;
}

input.questions {
    font-size: 22px; 
    display:block;
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    outline:0;
    border: none;
    width: 500px;
    padding:5px;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease; 
}

input.questions + label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 10%;
    border-top: 2px solid #022435;
    height: 0px;
}

input.questions:focus + label {
    width: 100%;
}

input.questions:focus, input.questions:valid {
    padding-top: 35px;
}

input.questions:focus + label > span, input.questions:valid + label > span {
    top: -70px; /*avstand mellom label og input*/
    font-size: 14px; /*when placemaker becomes label in top*/
    color: #333;
}

input.questions:valid + label {
    border-color: #d66b1e;
}

input.questions:invalid {
    box-shadow: none;
}

input.questions + label > span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #8F8F8F;
    font-size: 18px; /*placemaker tekst*/
    top: -40px;
    left: 0px;
    z-index: -1;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.test {
    width: 500px;
}

.heading label {
    font-size: 18px;
    display: block;
    margin-top: 5px;
}

.test input[type="checkbox"] {
    display: none;
}

.test input[type="radio"] {
    display: none;
}

.test label {
    display: inline-block;
    margin-top: -5px;
    margin-bottom: 20px;
    background-color: #ddd;
    width: 110px;
    padding: 10px 5px;
    font-size: 14px;
    border-radius: 20px;
    text-align: center;
}

.test label:hover {
    background-color: #dfab86;
  
}

.test input[type="radio"]:focus {
    border: 10px dashed #444;
}

.test input[type="radio"]:checked + label {
    color: white;
    background-color: #d66b1e;
    border-color: #022435;
}

.test input[type="checkbow"]:focus {
    border: 10px dashed #444;
}

.test input[type="checkbox"]:checked + label {
    color: white;
    background-color: #d66b1e;
    border-color: #022435;
}

.form button {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color:177c6e;
    color:#fff;
    width: 80px;
    padding: 10px 5px;
    font-size: 14px;
    border-radius: 20px;
    text-align: center;
    border:none;
}

.form button:hover  {
    background-color: #0e5047;
}

.option-container {
    margin-top: 10px;
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.option-container select {
    width: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.option {
    margin-bottom: 15px;
}

.thankyou {
    text-align: center;
}

.thankyou button {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #d66b1e;
    color:#fff;
    width: 80px;
    padding: 10px 5px;
    font-size: 14px;
    border-radius: 20px;
    text-align: center;
    border: none;
}

.thankyou button:hover {
    background-color:#a74a07;
}

#footer {
    margin-bottom: 0px;
}

