body {
    background-color: #F5F5F5;
    color: #022435;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 36px;
    white-space: nowrap;
}

h1, h2, h3, h4 {
    font-family: Georgia, 'Times New Roman', Times, serif
}

p {
    font-size: 16px;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #022435;
}

.top {
    display: flex;
    justify-content: space-between;
}

.top img {
    width: 60px;
}

.navbar {
    height: 60px;
    display: flex;
    padding-top: 2vh;
    justify-content: space-between;
    width: 84vw;
    margin: auto;
}

#dot {
    width: 23px;
    height: 23px;
    position: absolute;
    margin-top: 3px; 
    margin-left: -23px;
}

#pil {
    width: 15px;
    margin-left: 5px;
}

#lastdropbtn {
    background-color: #F5F5F5;
    border: none;
    cursor: pointer;
    font-size: 16px;
    height: 3vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dropbtn {
    background-color: #F5F5F5;
    border: none;
    cursor: pointer;   
    font-size: 16px;
    height: 3vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 40px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(205, 205, 205);
    border-radius: 25px;
}

.dropdown:hover .dropdown-content {
    display: block;
    font-size: 10px;
}

.dropdown:hover .dropbtn {
    border-radius: 25px;
}

.content {
    display: flex;
    margin-top: 10vh;
    margin-left: 8%;
    margin-right: 8%;
}

.sidemenu {
    width: 30vw;
}

.nav-container .checkbox {
    position: absolute;
    display: none;
    height: 32px;
    width: 32px;
    top: 4vh;
    right: 35px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .burger {
    display: none;
    height: 27.5px;
    width: 32px;
    position: absolute;
    top: 4vh;
    right: 35px;
    z-index: 2;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items {
    display: none;
    padding-top: 120px;
    height: 0;
    width: 100%;
    transform: translate(150%);
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    background-color: cadetblue;
}

.menu-items li {
    display: none;
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    list-style-type: none;
    background-color: darkgoldenrod;
}

.container {
    display: flex;
    margin-top: 15vh;
    margin-left: 8%;
    margin-right: 8%;
    height: 100vh;
    justify-content: space-between;
}

.abouttext {
    width: 33%;
}

.abouttext > p {
    min-width: 40ch;
}

.join {
    display: flex;
    background-color: #197B6E;
    border-radius: 50%;
    width: 13vw;
    height: 13vw;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
}

.about {
    display: flex;
    background-color: #022435;
    border-radius: 50%;
    width: 13vw;
    height: 13vw;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    float: right;
    margin-top: 0;
}

.about > a, .join > a {
    color: #F5F5F5;
}

.imgcontainer {
    display: flex;
    height: 41vw;
    width: 41vw;
    margin-top: -40px;
}

.imgcontainer > img {
    border-radius: 50%;
}

.illustration {
    position: relative;
    width: fit-content;
    z-index: -10;
}

.croquet {
    margin-top: -580px;
}

.fk {
    margin-top: -300px;
}

.beerpong {
    margin-top: -300px;
}

.bordtennis {
    margin-top: -300px;
}

#arrow > img {
    height: 10vw;
    width: 8vw;
    margin-top: -10px;
    margin-left: 31vw;
    position: relative;
    z-index: -1;
}

#arrow > p {
    margin-left: 30vw;
    text-align: center;
    font-size: 1vw;
    margin-top: -10px;
}

@media only screen and (max-width: 640px) {
    body {
        background-color: #2A7CB7;
    }
}

@media only screen and (min-width: 641px) and (max-width: 1007px) {
    body {
        background-color: aqua;
    }

    .nav-container input[type="checkbox"]:checked ~ .content {
        display: none;
    }

    .navbar, #dot{
        display: none;
    }

    .nav-container .burger  {
        display: flex;
        float: right;
    }
    
    .nav-container .burger .line .line1 {
        transition: transform 0.4s ease-in-out;
    }
    
    .nav-container .burger .line .line2 {
        transition: transform 0.2s ease-in-out;
    }
    
    .nav-container .burger .line .line3 {
        transition: transform 0.4s ease-in-out;
    }
    
    .nav-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
        display: flex;
    }
    
    .nav-container input[type="checkbox"]:checked ~ .menu-items li {
        transform: translateX(0);
        display: flex;
    }
    
    .nav-container input[type="checkbox"]:checked ~ .burger .line3 {
        transform-origin: 0% 0%;
        transform: rotate(-45deg);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .burger .line2 {
        transform: scaleY(0);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .burger .line1 {
        transform-origin: 0% 100%;
        transform: rotate(45deg);
    }

    .nav-container .burger .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background-color: #022435;
    }

    .nav-container .checkbox {
        display: block;
    }
}