body {
    background-color: #F5F5F5;
    color: #022435;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 36px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 10px 10vw 10px 5px;
    font-size: 16;
}

li:hover {
    color: #2A7CB7;
    text-decoration: underline;
}

p {
    font-size: 16px;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #022435;
}

.logo {
    width: 5%;
    margin: auto;
    margin-top: 3vh;
}

.top {
    display: flex;
    justify-content: center;
}

.top img {
    width: 2vw;
}

.navbar {
    height: 3vh;
    display: flex;
    margin-top: 2vh;
}

.navbar a {
    padding-right: 15vw;
}

.navbar a:last-child {
    padding-right: 0;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}

.sidemenu {
    width: 30vw;
}

.dotntext {
    display: flex;
    justify-content: flex-end;
}

#dot {
    width: 20px;
    height: 20px;
    margin-top: 2vh;
    margin-left: 40px;
    margin-right: 3px;
}

.sportsname {
    margin-left: 5vw;
}

.about {
    width: 40vw;
    margin-top: 10vh;
}

.decor {
    width: 30vw;
}

.decor img {
    margin-top: 20vh;
    width: 80%;
    margin-left: 20%;
}

.gallery {
    background-color: aqua;
    height: 30vh;
    margin-top: 10vh;
}